################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Slave/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Slave/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Slave/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Slave/obj/Debug/Slave.csproj.CoreCompileInputs.cache
/Slave/obj/Debug
/Shared.Messages/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Shared.Messages/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shared.Messages/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shared.Messages/obj/Debug/Shared.Messages.csproj.CoreCompileInputs.cache
/Shared.Messages/obj/Debug
/Master/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Master/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Master/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Master/obj/Debug/Master.csproj.CoreCompileInputs.cache
/Master/obj/Debug
/AnotherSlave/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AnotherSlave/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AnotherSlave/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AnotherSlave/obj/Debug/AnotherSlave.csproj.CoreCompileInputs.cache
/AnotherSlave/obj/Debug
/.vs/Gateway.Communication.NETFramework461/v15/Server/sqlite3/storage.ide-wal
/.vs/Gateway.Communication.NETFramework461/v15/Server/sqlite3/storage.ide-shm
/.vs/Gateway.Communication.NETFramework461/v15/Server/sqlite3/storage.ide
/.vs/Gateway.Communication.NETFramework461/v15/Server/sqlite3/db.lock
/.vs/Gateway.Communication.NETFramework461/v15/Server/sqlite3
