<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Gateway"/>
    </configSections>
    <GatewayConfig>
      <Sites>
        <Site Key="Slave" Address="http://localhost:25699/Slave/" ChannelType="Http"/>
        <Site Key="NewPOLSlave" Address="http://localhost:25799/NewPOLSlave/" ChannelType="Http"/>
      </Sites>
      <Channels>
        <Channel Address="http://localhost:25599/Master/" ChannelType="Http"/>
      </Channels>
    </GatewayConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
