<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Gateway"/>
    </configSections>
    <GatewayConfig TransactionTimeout="00:10:00">
      <Channels>
        <Channel Address="http://localhost:25699/Slave/" ChannelType="Http" Default="true"/>
      </Channels>
    </GatewayConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
